:root {
  --background: black;
  --image-background: black;
  --text-color: #E1F2F7;
  --link-color: #f19de4;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  min-height: -webkit-fill-available;
  font-family: 'Unbounded';
  font-weight: 400;
  color: var(--text-color);
  overflow-x: hidden;
}

body::before,
body::after {
  position: fixed;
  inset: 0;
  z-index: -1;
  content: '';
}

body::before {
  background: var(--background);
  filter: url(#bgfilter);
}

body::after {
  background: radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8));
}

h1 {
  font-family: 'Unbounded', cursive;
  color: var(--text-color);
  font-size: 3em;
  margin: 40px 0;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: 8em;
  }
}
