:root {
  --background: #E1F2F7;
  --text-color: black;
  --link-color: #EF0D50;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: black;
    --text-color: #E1F2F7;
    --link-color: #EF0D50;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  background: var(--background);
}

a {
  color: var(--text-color);
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
}
